body {
    text-align: center;
    padding-top: 20px;
    font-size: large;
    background-color: rgb(228, 240, 250)
}

body h2 {
    margin-top: -10px;
}

body div {
    padding-top: 100px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #c7c7c7;
}

td {
    border: #8080ff solid 2px;
    padding: 10px;
}

footer {
    margin: 200px;
    text-align: center;
    color: rgb(0, 0, 0);
}